<!DOCTYPE html>
<html>
<head>
  <title>Api data</title>
</head>
<body>
  <table border="1">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Username</th>
      </tr>
    </thead>
    <tbody>
      <% for (var i = 0; i < users.length; i++) {%>
        <% var elt = users[i] %>
        <tr>
          <td><p><%= elt.firstname %></p></td>
          <td><p><%= elt.lastname %></p></td>
          <td><p><%= elt.email %></p></td>
          <td><p><%= elt.username %></p></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</body>
</html>