<!DOCTYPE html>
<html>
<head>
  <title>Last Names</title>
</head>
<body>
  <table border="1">
    <tr>
      <th>Lastname</th>
    </tr>
  <% for (var i = 0; i < users.length; i++) {%>
    <% var elt = users[i] %>
    <tr>
      <td><p><%= elt.lastname %></p></td>
    </tr>
  <% } %>
  </table>
</body>
</html>