<!DOCTYPE html>
<html>
<head>
  <title>New User</title>
</head>
<h2>New User</h2>
  <form method="POST" action="/users">
    First Name: <input type="text" name="user[firstname]"><br><br>
    Last Name: <input type="text" name="user[lastname]"><br><br>
    Username: <input type="text" name="user[username]"><br><br>
    Email: <input type="text" name="user[email]"><br><br>
    <input type="submit" value="Create New User">
  </form>
</body>
</html>