<!DOCTYPE html>
<html>
<head>
  <title>Greeting</title>
</head>
<body>
  <h1>Hello <%= name + ' ' + lastname %></h1>
    <% for (var i = 0; i < 5; i++) { %>
        <p>Repeated Text <%= i %></p>
    <% } %>
</body>
</html>